@import "../variables";
@import "../mixins";

// Layout utilities for responsive design

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @include mobile {
    padding: 0 $spacing-sm;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}
